<div class="p-6">
    <h1 class="text-2xl font-bold text-gray-800 mb-4">
        <span *ngFor="let crumb of breadcrumb; let i = index">
            <span class="cursor-pointer hover:underline text-blue-500" (click)="navigateBack(i)">
                {{ crumb }}
            </span>
            <span *ngIf="i < breadcrumb.length - 1"> > </span>
        </span>
    </h1>

    <button (click)="openModal()"
        class="fixed bottom-6 right-6 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition shadow-lg">
        + Add {{ getEntityName() }}
    </button>
</div>

<div *ngIf="currentView === 'households'" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <div *ngFor="let household of households"
        class="relative bg-white shadow-lg rounded-lg p-4 flex flex-col items-center transition-transform duration-300 hover:scale-105 group">
        <h3 class="text-lg font-semibold text-gray-800 mb-2">{{ household.name }}</h3>
        <button (click)="goToRooms(household.id, household.name)"
            class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition">
            View Rooms
        </button>

        <button (click)="confirmHouseholdDelete(household.id)"
            class="absolute top-3 right-3 text-gray-500 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
</div>

<div *ngIf="currentView === 'rooms'" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <div *ngFor="let room of rooms"
        class="relative bg-white shadow-lg rounded-lg p-4 flex flex-col items-center transition-transform duration-300 hover:scale-105 group">
        <h3 class="text-lg font-semibold text-gray-800 mb-2">{{ room.name }}</h3>
        <button (click)="goToBookshelves(room.id, room.name)"
            class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition">
            View Bookshelves
        </button>

        <button (click)="confirmRoomDelete(room.id)"
            class="absolute top-3 right-3 text-gray-500 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
</div>

<div *ngIf="currentView === 'bookshelves'" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <div *ngFor="let shelf of bookshelves" class="relative bg-white shadow-lg rounded-lg p-4 flex flex-col items-center transition-transform duration-300 hover:scale-105 group">
        <h3 class="text-lg font-semibold text-gray-800 mb-2">{{ shelf.name }}</h3>
        <button (click)="goToBooks(shelf.id, shelf.name)"
            class="bg-yellow-500 text-white px-4 py-2 rounded-md hover:bg-yellow-600 transition">
            View Books
        </button>

        <button (click)="confirmRoomDelete(shelf.id)"
            class="absolute top-3 right-3 text-gray-500 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
</div>

<div *ngIf="currentView === 'books'" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <div *ngFor="let book of books" class="relative bg-white shadow-lg rounded-lg p-4 flex flex-col items-center transition-transform duration-300 hover:scale-105 group">
        <h3 class="text-lg font-semibold text-gray-800 mb-2">{{ book.title }}</h3>
        <p class="text-gray-600">{{ book.author }}</p>
        <button (click)="showBookDetails(book)"
            class="bg-yellow-500 text-white px-4 py-2 rounded-md hover:bg-yellow-600 transition">
            Show Details
        </button>

        <button (click)="confirmRoomDelete(book.id)"
            class="absolute top-3 right-3 text-gray-500 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
</div>

<div *ngIf="currentView === 'book' && bookDetails" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96">
      <button (click)="closeBookDetails()" class="absolute top-3 right-3 text-gray-500 hover:text-gray-700">
        ✖
      </button>
      <div class="flex space-x-4">
        <!-- Placeholder for book cover -->
        <div class="w-32 h-48 bg-gray-300 flex items-center justify-center">
          <span class="text-gray-500">Cover</span>
        </div>
        <div>
          <h1 class="text-xl font-bold text-gray-800">{{ bookDetails.title }}</h1>
          <h2 class="text-lg text-gray-700">{{ bookDetails.author }}</h2>
          <p class="text-sm text-gray-600"><strong>Genre:</strong> {{ bookDetails.genre }}</p>
          <p class="text-sm text-gray-600"><strong>ISBN:</strong> {{ bookDetails.isbn }}</p>
          <p class="text-sm text-gray-600"><strong>Published:</strong> {{ bookDetails.publishingYear }}</p>
          <p class="text-sm flex items-center">
            <strong>Reading List:</strong>
            <span class="ml-2" [ngClass]="bookDetails.isInReadingList ? 'text-green-600' : 'text-gray-400'">
              {{ bookDetails.isInReadingList ? '✓ Yes' : '✗ No' }}
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>

<div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96">
        <h3 class="text-lg font-semibold mb-4">Create {{ getEntityName() }}</h3>
        <div *ngIf="currentView === 'households' || currentView === 'rooms' || currentView === 'bookshelves'">
            <label class="block text-sm font-medium text-gray-700">Name</label>
            <input type="text" [(ngModel)]="newEntity.name"
                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2">
        </div>

        <div *ngIf="currentView === 'bookshelves'">
            <label class="block text-sm font-medium text-gray-700 mt-3">Description</label>
            <input type="text" [(ngModel)]="newEntity.description"
                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2">

            <label class="block text-sm font-medium text-gray-700 mt-3">Number of columns</label>
            <input type="text" [(ngModel)]="newEntity.numOfColumns"
                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2">

            <label class="block text-sm font-medium text-gray-700 mt-3">Number of rows</label>
            <input type="text" [(ngModel)]="newEntity.numOfRows"
                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2">
        </div>

        <div *ngIf="currentView === 'books'">
            <label class="block text-sm font-medium text-gray-700">Title</label>
            <input type="text" [(ngModel)]="newEntity.title"
                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2">

            <label class="block text-sm font-medium text-gray-700 mt-3">Author</label>
            <input type="text" [(ngModel)]="newEntity.author"
                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2">

            <label class="block text-sm font-medium text-gray-700 mt-3">Genre</label>
            <input type="text" [(ngModel)]="newEntity.genre"
                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2">

            <label class="block text-sm font-medium text-gray-700 mt-3">ISBN</label>
            <input type="text" [(ngModel)]="newEntity.isbn"
                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2">

            <label class="block text-sm font-medium text-gray-700 mt-3">Publishing Year</label>
            <input type="number" [(ngModel)]="newEntity.publishingYear"
                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2">
        </div>

        <div class="mt-4 flex justify-end space-x-2">
            <button (click)="closeModal()" class="bg-gray-500 text-white px-4 py-2 rounded">Cancel</button>
            <button (click)="saveEntity()" class="bg-blue-600 text-white px-4 py-2 rounded">Save</button>
        </div>
    </div>
</div>

<div *ngIf="isDeleteModalOpen" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96 text-center">
        <h3 class="text-lg font-semibold text-gray-800">Delete This {{ getEntityName() }}</h3>
        <p class="text-gray-600 mb-4">Everything part of this {{ getEntityName() }} will be deleted. Are you sure you
            want to do it?</p>

        <div class="flex justify-center space-x-4">
            <button (click)="isDeleteModalOpen = false"
                class="py-2 px-4 border border-gray-300 rounded-md hover:bg-gray-100">
                No, cancel
            </button>
            <button (click)="deleteEntity()" class="py-2 px-4 bg-red-600 text-white rounded-md hover:bg-red-700">
                Yes, delete
            </button>
        </div>
    </div>
</div>